

.upload-area {
  width: 50%;
  margin: auto;
}

.btn-primary {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid var(--c-action-secondary);
	border-radius: .25rem;
	background-color: transparent;
  color: #FFF;
	background-color: var(--c-action-primary);
	border-color: var(--c-action-primary);
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-top: 30px;
}

.logout {
  margin-left: -16px;
  margin-right: -16px;
}

