body {
  background-color: whitesmoke !important;
}



:root {
	--c-action-primary: #2e44ff;
	--c-action-primary-accent: #e9e5ff;
	--c-action-secondary: #e5e5e5;
	--c-text-primary: #0d0f21; 
	--c-text-secondary: #6a6b76;
	--c-background-primary: #d0d1de;
}

.menu-list a {
  text-decoration: none;
}


.navbar-start a:hover {
	color: #00d1b2 !important;
}

.navbar-link:not(.is-arrowless)::after {
	border-color: #00d1b2 !important;
}